.container {
  padding: 30px;
}
label, input {
  margin-right: 10px;
}
a {
  font-size: smaller;
  text-decoration: none;
}
.description {
  width: 12em;
  display: inline-block;
}
.amount {
  width: 12em;
  display: inline-block;
}